/* Estilo Base */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #4facfe, #66de88);
    color: #333;
    transition: background 0.5s, color 0.5s;
}

h1 {
    top: 0;
    padding: 10px;
    z-index: 100;
}

.app-container {
    margin-top: 40px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: all 0.3s ease;
}

.weather-card {
    text-align: center;
    margin-top: 20px;
}

.weather-card img {
    display: block;
    margin: auto;
}

#weather-result {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    overflow: visible;
    max-height: none;
}

#weather-result.show {
    opacity: 1;
    transform: translateY(0);
}

#weather-result img {
    width: 100px;
    animation: fadeIn 1s ease-in-out;
}

/* Estilo do gráfico */
canvas {
    max-width: 100%;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Tema Escuro */
body.dark-mode {
    background: linear-gradient(to bottom, #121212, #333333);
    color: white;
}

.app-container.dark-mode {
    background: rgba(51, 51, 51, 0.8);
    color: white;
    backdrop-filter: blur(10px);
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input {
    padding: 12px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input:focus {
    transform: scale(1.05);
}
